<%- include('partials/header.ejs'); %>

<div class="container">
    <h1>Admin Panel</h1>

    <ul>
        <li><a href="/admin/manage-users">Manage Users</a></li>
        <li><a href="/admin/settings">Settings</a></li>

    </ul>
</div>