<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setup Admin</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>Initial Setup</h1>
  <form class="signupAndLogin" action="/setup" method="POST">
    <label for="username">Admin Username:</label>
    <input type="text" name="username" id="username" required><br><br>
    <label for="password">Admin Password:</label>
    <input type="password" name="password" id="password" required><br><br>
    <button type="submit">Setup Admin</button>
  </form>
</body>
</html>